<div id="<%= dom_id service %>">
  <div>
    <strong>Title:</strong>
    <%= service.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= service.description %>
  </div>

  <div>
    <strong>User:</strong>
    <%= service.user_id %>
  </div>

</div>
