<% if resource.errors.any? %>
  <div class="alert alert-danger" data-turbo-temporary>
    <strong><%= pluralize(resource.errors.count, "error") %> prevented this from being saved:</strong>
    <ul class="mb-0 mt-1">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
